services:
  postgres:
    image: postgres:16-alpine
    container_name: idp-postgres
    environment:
      POSTGRES_DB: idp_db
      POSTGRES_USER: idp_user
      POSTGRES_PASSWORD: idp_password
    ports:
      - "5436:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
